dist/

*~
*.sw[mnpcod]
*.log
*.lock
*.tmp
*.tmp.*
log.txt
*.sublime-project
*.sublime-workspace

# IDEs
.idea/dictionaries/
.idea/**/workspace.xml
.idea/**/usage.statistics.xml
.idea/**/tasks.xml
*.sublime-project
*.sublime-workspace
.sass-cache/
.versions/
node_modules/
$RECYCLE.BIN/

.DS_Store
Thumbs.db
UserInterfaceState.xcuserstate
.env
www/
